@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root
{

  --inbox-ai-dark: #212529;
  --inbox-ai-darker: #19161a;
  --inbox-ai-light: #fdfdfd;
  --inbox-ai-accent: #7500fb;
}

@media (prefer-color-scheme: dark)
{}

@media (prefers-color-scheme: light)
{
  :root
  {

    --inbox-ai-dark: #efefef;
    --inbox-ai-darker: #ffffff;
    --inbox-ai-light: #222222;
    --inbox-ai-accent: #7500fb;
  }
}

body
{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  height: 100dvh;
  background-color: var(--inbox-ai-darker);
  color: var(--inbox-ai-light)
}



.container
{
  width: 100%;
  max-width: 400px;
  margin: auto;

  @media (min-width: 768px)
  {
    width: 80%;
    max-width: 740px;
  }

  @media (min-width: 1200px)
  {
    width: 80%;
    max-width: 992px;
  }

  @media (min-width: 1440px)
  {
    width: 80%;
    max-width: 1200px;
  }
}


header
{

  background-color: var(--inbox-ai-dark);

  .notice
  {
    background-color: rgb(245, 105, 105);
    font-size: 14px;
    text-align: center;
  }

  .main-nav
  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo
    {
      display: inline-flex;
      margin-top: 1rem;
      margin-left: 2rem;
      padding: 0.25rem 1rem;
      border-radius: 0.5rem;
      align-items: center;
      gap: 0.75rem;
      background-color: var(--inbox-ai-darker);
      color: var(--inbox-ai-light);
    }

    ul
    {
      list-style: none;
      display: flex;

      li
      {
        padding: 1rem;

        a
        {
          text-decoration: none;
          color: var(--inbox-ai-light);

          &:hover
          {
            text-decoration: underline;
          }
        }
      }
    }

  }
}

main
{
  min-height: calc(100vh - 160px);
}

footer
{
  padding: 2rem;
  background-color: var(--inbox-ai-dark);

  a
  {
    text-decoration: none;
    color: var(--inbox-ai-light);
    display: inline-flex;
    gap: 0.5rem;

    &:hover
    {
      color: var(--inbox-ai-darker);
      background-color: var(--inbox-ai-light);
      padding: .25rem;
      border-radius: 0.25rem;
    }
  }
}